section.component-sign-in

    form(method="POST", action="")

        if invalidCredentials
            .alert.alert-danger= __('Invalid email or password')

        .form-group
            label= __('Email')
            input(type="hidden", name="_csrf", value=_csrf)
            input.form-control(type="email", placeholder=__('Email address'))

        .form-group
            label= __('Password')
            input.form-control(type="password", placeholder=__('Password'))
            .help-block
                a(href="#{app.baseUrl}/forgot-password")= __('Forgot your password?')

        button.btn.btn-primary.btn-block(type="submit")= __('Sign in')

        a.btn.btn-link.btn-block(href="#{app.baseUrl}/sign-up")= __('Create a new account')
