section.component.component-sign-up

    form(method="POST" action="")

        if UserExistsError
            .alert.alert-danger
                = __('Email address already in use')

        if BadParamsError
            .alert.alert-danger
                = __('Invalid value for email/password')

        .form-group
            label= __('Email')
            input(type="hidden", name="_csrf", value=_csrf)
            input.form-control(name="email" type="email", placeholder=__('Email address'))

        .form-group
            label= __('Password')
            input.form-control(name="password" type="password", placeholder=__('Password'))

        button.btn.btn-primary.btn-block(type="submit")= __('Create new account')

        a.btn.btn-link.btn-block(href="#{app.baseUrl}/")= __('Sign in')
        a.btn.btn-link.btn-block(href="#{app.baseUrl}/forgot-password")= __('Forgot your password?')
