section.component-sign-up

    form(method="POST" action="")

        if emailAlreadyInUse
            .alert.alert-danger
                = __('Email address already in use')
                p: a(href="#{app.baseUrl}/forgot-password")= __('Forgot your password?')

        .form-group
            label= __('Email')
            input(type="hidden", name="_csrf", value=_csrf)
            input.form-control(type="email", placeholder=__('Email address'))

        .form-group
            label= __('Password')
            input.form-control(type="password", placeholder=__('Password'))

        button.btn.btn-primary.btn-block(type="submit")= __('Create new account')

        a.btn.btn-link.btn-block(href="#{app.baseUrl}/sign-in")= __('Sign in')
